#kitchen {
  margin-top: 6.563rem;
  margin-left: 8.125rem;
  margin-right: 8.125rem;
}

#kitchen_title {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 3.938rem;
}

.food {
  display: flex;
  justify-content: space-between;
}

.food_card {
  background-color: #f0faf7;
}

.food:not(:first-child) {
  margin-top: 2.5rem;
}

.fd_inner {
  padding: 0.97rem;
}

.detail1 {
  display: flex;
  gap: 5rem;
}
