#kitchen {
  margin-top: 6.563rem;
  margin-left: 8.125rem;
  margin-right: 8.125rem;
}

#kitchen_title {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 3.938rem;
}

.food {
  display: flex;
  justify-content: space-between;
}

.food_card {
  background-color: #f0faf7;
}

.food:not(:first-child) {
  margin-top: 2.5rem;
}

.fd_inner {
  padding: 0.75rem;
}

.detail1 {
  display: flex;
  gap: 5rem;
}

.detail2 {
  display: flex;
  margin-top: 1rem;
  gap: 6.125rem;
}

.stars_and_time {
  display: flex;
  gap: 0.5rem;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.75rem;
  height: 1.25rem;
  width: 2.813rem;
  background-color: #f2f2f2;
  border-radius: 0.313rem;
  box-shadow: 0rem 0rem 0.063rem #bebebe;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.25rem;
  width: 4.25rem;
  background-color: #f2f2f2;
  font-size: 0.75rem;
  border-radius: 0.313rem;
  box-shadow: 0rem 0rem 0.063rem #bebebe;
  box-shadow: 0.188rem 0rem 0rem #bebebe, -0.188rem 0rem 0rem #bebebe;
}
